header{
    width: 93%;
    height: 80px;
    /* background-color: rgb(24, 140, 185); */
    border: gray solid 0.5px;
    border-radius: 10px;
    font-size: 30px;
    color: blue;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 20px;
    margin: auto;
    margin: 50px;

    /* margin-bottom: 50px; */

  }
  .button {
    display: inline-block;
    padding: 10px 20px;
    background: rgba(0, 0, 255, 0.733);
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    float: right;
    /* margin-top: 70px; */
    margin-left: 20px;
    margin-bottom: 50px;
    
  }
  table {
    width: 100%;
    border-collapse: collapse;
    
  }
  th{
    background-color: rgba(128, 128, 128, 0.445);
  }

  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }